# Unless explicitly stated otherwise all files in this repository are licensed
# under the Apache License Version 2.0.
# This product includes software developed at Datadog (https://www.datadoghq.com/).
# Copyright 2023-present Datadog, Inc.
---
# yaml-language-server: $schema=../config/schema.json
meta:
  name: github.com/DataDog/orchestrion/instrument
  description: |-
    Built-in instrumentation from orchestrion. This will eventually be moved to
    the gopkg.in/DataDog/dd-trace-go.v1 package.

extends:{{ range . }}
  - ./{{ . -}}
{{ end }}
