<div class="join-point function-option fo-signature">
  <span class="type pill">Signature matches</span>
  <ul>
    {{- with .Arguments }}
    <li>
      <span class="type pill">Arguments</span>
      <ol>
      {{- range . }}
        <li class="flex">
          <span class="id"></span>
          {{ render . -}}
        </li>
      {{- end -}}
      </ol>
    </li>
    {{- else -}}
    <li class="flex">
      <span class="type">Arguments</span>
      <span class="value">None</span>
    </li>
    {{- end }}

    {{- with .Results }}
    <li>
      <span class="type pill">Results</span>
      <ol>
      {{- range . }}
        <li class="flex">
          <span class="id"></span>
          {{ render . }}
        </li>
      {{- end -}}
      </ol>
    </li>
    {{- else -}}
    <li class="flex">
      <span class="type">Results</span>
      <span class="value">None</span>
    </li>
    {{- end }}
  </ul>
</div>
