---
{{ frontMatter . }}
---
{{ .Metadata.Description }}
<!--more-->

{{- with .Metadata.Caveats -}}
{{ `{{<callout type="warning">}}` }}
  {{- .  }}
{{ `{{</callout>}}` }}
{{- end }}
{{ range .Aspects }}
## {{ .ID }}

<div class="hextra-cards hx-mt-4 hx-gap-4 hx-grid" style="--hextra-cards-grid-cols: 1;">
  <div class="aspect hextra-card hx-group hx-flex hx-flex-col hx-justify-start hx-overflow-hidden hx-rounded-lg hx-border hx-border-gray-200 hx-text-current hx-no-underline dark:hx-shadow-none hover:hx-shadow-gray-100 dark:hover:hx-shadow-none hx-shadow-gray-100 active:hx-shadow-sm active:hx-shadow-gray-200 hx-transition-all hx-duration-200">
    <div>
      <span class="hextra-card-icon hx-flex hx-font-semibold hx-items-start hx-gap-2 hx-p-4 hx-text-gray-700 hover:hx-text-gray-900 dark:hx-text-neutral-200 dark:hover:hx-text-neutral-50">
        {{ `{{<iconSVG "search-circle">}}` }} Join Point
      </span>
      <div class="root hextra-card-subtitle hx-font-normal hx-px-4 hx-mb-4 hx-mt-2">
        {{- "\n" }}{{ render .JoinPoint | trim }}
      </div>
    </div>
    {{- range .Advice }}
    <div class="hx-border-t">
      <span class="hextra-card-icon hx-flex hx-font-semibold hx-items-start hx-gap-2 hx-p-4 hx-text-gray-700 hover:hx-text-gray-900 dark:hx-text-neutral-200 dark:hover:hx-text-neutral-50">
        {{ `{{<iconSVG "chip">}}` }} Advice
      </span>
      <div class="hextra-card-subtitle hx-font-normal hx-px-4 hx-mb-4 hx-mt-2">
        {{- "\n" }}{{ render . | trim }}
      </div>
    </div>
    {{- end }}
  </div>
</div>
{{ end -}}
