<div class="flex join-point declaration-of">
  <span class="type">Declaration of</span>
  {{ "{{" }}<godoc import-path="{{ .ImportPath }}" package="{{ packageName .ImportPath }}" name="{{ .Name }}">{{ "}}" }}
</div>
