<div class="flex join-point value-declaration">
  <span class="type">Package-level <code style="display:inline">const</code> or <code style="display:inline">var</code></span>
  {{ render .TypeName }}
</div>
