<div class="advice append-arguments">
  <div class="type">
    Append the following {{ render .TypeName }} arguments to the function call:
  </div>
  <ol>
    {{- range .Templates }}
    <li>
      {{- "\n" }}{{ render . -}}
    </li>
    {{- end }}
  </ol>
</div>
