<div class="advice inject-declarations">
  <div class="type">Introduce new declarations:</div>
  {{- "\n" }}{{ render .Template }}
  {{- with .Links -}}
  <div class="type">Record link-time dependencies on:</div>
  <ul>
    {{- range . }}
    <li>{{ "{{" }}<godoc import-path="{{ . }}">{{ "}}" }}</li>
    {{- end -}}
  </ul>
  {{- end }}
</div>
