<div class="join-point {{ with . }}flex {{ end -}} function-option fo-name">
  {{ with . -}}
  <span class="type">Function name</span>
  <code>{{ . }}</code>
  {{- else -}}
  <span class="type pill">Function literal expression</span>
  {{- end }}
</div>
