name: PR Labeler
on:
  pull_request:
    types: [opened, edited, reopened]
permissions: read-all
jobs:
  update-labels:
    name: Update PR labels
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # Needed to update labels
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version: oldstable
          cache-dependency-path: '**/go.mod'
      - name: Assign Labels
        run: go -C _tools run ./conventionalcommit
        env:
          GITHUB_TOKEN: ${{ github.token }}
