name: PR Labeler
on:
  pull_request:
    types: [opened, edited, reopened]
permissions: read-all
jobs:
  update-labels:
    name: Update PR labels
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # Needed to update labels
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: oldstable
          cache-dependency-path: '**/go.mod'
      - name: Assign Labels
        run: go -C _tools run ./conventionalcommit
        env:
          GITHUB_TOKEN: ${{ github.token }}
