name: Integration Tests (Workflow Call)
on:
  workflow_dispatch:
    inputs:
      dd-trace-go-ref:
        description: 'The ref to checkout dd-trace-go at'
        required: false
        type: string
        default: main
      runs-on:
        description: 'The runner to use for the job'
        required: false
        type: string
        default: ubuntu-latest
  workflow_call:
    inputs:
      dd-trace-go-ref:
        type: string
        required: true
        description: 'The ref to checkout dd-trace-go at'
      runs-on:
        description: 'The runner to use for the job'
        required: false
        type: string
        default: ubuntu-latest

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ inputs.dd-trace-go-ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    runs-on: ${{ inputs.runs-on }}
    name: Integration Smoke Tests
    steps:
      - name: Checkout orchestrion
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: orchestrion
          repository: DataDog/orchestrion
      - name: Checkout dd-trace-go
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          path: dd-trace-go
          repository: DataDog/dd-trace-go
          ref: ${{ inputs.dd-trace-go-ref }}
      - name: Setup go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
        with:
          go-version: stable
          cache-dependency-path: "**/go.mod"
      - name: Setup python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
        with:
          python-version: 3.x
          cache: pip
          cache-dependency-path: orchestrion/_integration-tests/utils/agent/requirements-dev.txt
      - name: Install python dependencies
        run: pip install -r orchestrion/_integration-tests/utils/agent/requirements-dev.txt
      - name: Build orchestrion binary
        run: go -C orchestrion/ build -o="./_integration-tests/orchestrion.exe" .
      - name: Run Integration Tests
        shell: bash
        run: |-
          set -x
          cd orchestrion/_integration-tests
          ./orchestrion.exe go mod edit -replace=gopkg.in/DataDog/dd-trace-go.v1=../../dd-trace-go
          ./orchestrion.exe go mod tidy
          ./orchestrion.exe go test -tags=integration,buildtag -shuffle=on -p=10 ./...
