name: Integration Tests (Workflow Call)
on:
  workflow_dispatch:
    inputs:
      dd-trace-go-ref:
        description: 'The ref to checkout dd-trace-go at'
        required: false
        type: string
        default: main
  workflow_call:
    inputs:
      dd-trace-go-ref:
        type: string
        required: true
        description: 'The ref to checkout dd-trace-go at'

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ inputs.dd-trace-go-ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    runs-on: ubuntu-latest-16-cores
    name: Integration Smoke Tests
    steps:
      - name: Checkout orchestrion
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          path: orchestrion
          repository: DataDog/orchestrion
      - name: Checkout dd-trace-go
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          path: dd-trace-go
          repository: DataDog/dd-trace-go
          ref: ${{ inputs.dd-trace-go-ref }}
      - name: Setup go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5
        with:
          go-version: stable
          cache-dependency-path: "**/go.mod"
      - name: Build orchestrion binary
        run: go -C orchestrion/ build -o="./_integration-tests/orchestrion.exe" .
      - name: Run Integration Tests
        shell: bash
        run: |-
          set -x
          cd orchestrion/_integration-tests
          ./orchestrion.exe go mod edit -replace=gopkg.in/DataDog/dd-trace-go.v1=../../dd-trace-go
          ./orchestrion.exe go mod tidy
          ./orchestrion.exe go test -v -tags=integration,buildtag -shuffle=on ./...
